@import url("https://fonts.googleapis.com/css?family=Lobster+Two|Rhodium+Libre|Staatliches&display=swap");

body {
  text-align: center;
  font-family: "Rhodium Libre";
  background-image: url("./jambackground1.png");
  background-size: cover;
  background-position: center;
  color: #532d0a;
  border: 5px;
}

.navbar {
  background-color: #787878;
  display: flex;
  padding: 16px;
  font-family: sans-serif;
  color: #e5c8a4;
  justify-content: space-between;
  font-size: 2em;
}

.navbar__link {
  padding-right: 25px;
}

.navbar__items {
  display: flex;
}

.navbar__link-toggle {
  display: none;
}

.site-title,
footer {
  font-family: "staatliches";
}

.tagline,
.login_invite,
button,
input,
select {
  font-family: "Lobster Two", cursive;
}

.tagline {
  color: whitesmoke;
}

a:link {
  color: whitesmoke;
  text-decoration: none;
}

a:hover {
  background-color: #e87534;
  color: whitesmoke;
  text-decoration: none;
}

a:visited {
  color: whitesmoke;
  text-decoration: underline;
  text-decoration-color: whitesmoke;
}

.fave p,
.newsletter p {
  margin-bottom: 0px;
}

::placeholder {
  font-family: "Lobster Two";
}

.howoften {
  margin: 20px;
}

.joke {
  margin-bottom: 20px;
}

footer {
  color: #e5c8a4;
}

iframe {
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

@media only screen and (max-width: 1024px) {
  .navbar__items,
  .navbar {
    flex-direction: column;
  }

  .navbar__items {
    display: none;
  }

  .navbar__items--right {
    margin-left: 0;
  }

  .navbar__ToggleShow {
    display: flex;
  }

  .navbar__link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }

  .tagline {
    display: none;
  }

  .welcometext_desktop {
    display: none;
  }

  .intro_desktop {
    display: none;
  }

  iframe {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border: none;
  }
}
